body
{
    margin:0px;
    border:0px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

nav
{
    width: 80vw;
    margin-left: 10vw;
    height:12vh;
    backdrop-filter: blur(5px);
    position: sticky;
    font-weight: bold;
    text-align: center;
    font-size: 300%;
    display: flex;
    align-items: center;
    border:1px solid rgb(202,201,201);
    border-radius:0 0 10px 10px;
    z-index: -1;
    padding-left: 5%;
}

#questions
{
    width:50vw;
    height:40vh;
    position: absolute;
    top: 30vh;
    left: 25vw;
    backdrop-filter: blur(5px);
    border-radius: 25px;
    font-size:400%;
    text-align:center;
    line-height: 40vh;
    border:1px solid rgb(202,201,201);
    z-index: -1;
}

#name
{   #test
    {
        & input[type = 'text']
        {
            width:80%;
            font-size: 200%;
            border-radius: 10px;
        }
        & input[type = 'submit']
        {
            width:20%;
            border-radius: 10px;
        }
        width: 20vw;
        height:5vh;
        position: absolute;
        top:48%;
        left: 40%;
        display: flex;
    }
    width: 100vw;
    height:100vh;
    backdrop-filter: blur(5px);
    position: sticky;
    z-index: 0;
}